<div class="container">
  <h1>Add a new restaurant</h1>
  <div class="form">
    <%= simple_form_for (@restaurant) do |f| %>
      <%= f.input :name, class: "input" %>
      <%= f.input :address, class: "input" %>
      <%= f.input :category, class: "input" %>
      <%= f.input :phone_number, class: "input" %>
      <%= f.submit "Create restaurant", class: "btn btn-primary" %>
    <% end %>
  </div>

  <p> <%= link_to "Cancel", restaurants_path, class: "btn btn-primary btn-cancel"%> </p>
</div>
