<div class="container">
  <h1> <%= @restaurant.name %> </h1>
  <div class="restaurant-details">
    <p>Category: <%= @restaurant.category %> </p>
    <p>Address: <%= @restaurant.address %> </p>
    <p> <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%> </p>
  </div>

  <div class="restaurant-reviews">
    <h2>Reviews</h2>
    <% @reviews.each do |review| %>
      <div class="review">
        <p> <%= "â­" * review.rating %> </p>
        <p> <%= review.content %> </p>
      </div>
    <% end %>
  </div>

  <p> <%= link_to "Return to list", restaurants_path, class: "btn btn-primary"%> </p>
</div>
