<p>Reviews#new</p>
<p>Find me in app/views/reviews/new.html.erb</p>

<div class="container">
  <h1>Add a review</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit "Add review", class: "btn btn-primary" %>
  <% end %>
  <p> <%= link_to "Cancel", restaurant_path(@restaurant), class: "btn btn-primary"%> </p>
</div>
